<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/stylesheets/styles.css">
    <style>
        body
        {
        font-family: 'Poppins', sans-serif;

	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/static/stylesheets/bg1.jpg);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;

margin:0;
padding:0;
        }
    </style>
</head>
<body >
<header style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(/static/bg1.jpg);">
    <div class="wrapper">

              <div class="logo">
                   <!--<img src="https://i.postimg.cc/mg4rWBmv/logo.png" alt="">-->
			       Deepfake Detection
              </div>

         <ul class="nav-area">
         <li><a href="/">Home</a></li>
         <li><a href="/about">About</a></li>
         <li><a href="/login">Login</a></li>
         <li><a href="/faq">FAQ</a></li>
         </ul></div>
    </div>
<div class="welcome-text">
        <h1>
UNMASK<br>the <br><span >Fallacious Face</span></h1>
<a href="/upload-vid">Get Started</a>
    </div>
</header>

</body>
</html>
